@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/site.css" />
<body>
    <div class="header">
        <h1>PADUA - Network Connected Device Recovery</h1>
        <h3>Information Deemed Accurate As Of: <script>document.write(new Date().toLocaleDateString());</script></h3>
    </div>

    <div class="container">
        <div class="image">
            <img class="about-logo" src="~/images/about.png" style="height:250px;" alt="Martin Luther King">
        </div>
        <p>
            <b style="color:orangered;">Mission Statement:</b>
            Our mission of this application is to recover stolen Wi-Fi connected electronics, currently restricted to ETSU internal network.
        </p>

        <p>
            <b style="color:orangered;">Vision Statement:</b>
            We aim to assist campus security in student and faculty asset protection and recovery through network monitoring and email communication.
        </p>

        <p>
            <b style="color:orangered;">Business Value:</b>
            Recovering stolen assets for faculty saves the school money, while recovering stolen student assets increases student performance and decreases stress, which makes a better educational and overall experience on campus. It also gives the school a higher safety accreditation and validates interest in student safety and security.
        </p>
    </div>
</body>