@{
    ViewData["Title"] = "Contact";
}

<body>
    <div class="container">
        <header><h2>Resources here to help!</h2></header>
        <!-- row 1 -->
        <div class="row">
            <div class="col-md-4">
                <h2>ETSU Public Safety</h2>
                <p>
                    Provide for the overall safety and security of the University community and its properties in order to maintain an environment as favorable to  academic excellence as possible.
                </p>
                <blockquote>
                    <strong style="color:red">Excellence-</strong> Providing exceptional service through strategic planning, high-level performance daily, and advancing preparedness in our diverse environments.<br />
                    <strong style="color:red">Professionalism-</strong> Exemplifying trusted professional service with compassion and respect for all. <br />
                    <strong style="color:red">Integrity-</strong> Doing the right thing at all times and committed to being accountable for our actions or inactions. <br />
                    <strong style="color:red">Community-</strong> People centered approach rooted in serving others before self.
                </blockquote>
                <address>
                    1043 Jack Vest Dr. <br />

                    423-439-4480/9-911 emergency <br />

                    email: bucprevention@etsu.edu
                </address>
            </div>
            <div class="col-md-4">
                <h2>Forms &amp; Resources</h2>
                <article class="p21">
                    <p class="level3">Forms</p>
                    <ul class="list-1 p3 checklist">
                        <li><a title="Care Reporting Forms" href="/students/counseling/help/care_report.php">Care Reporting Form</a></li>
                        <li><a title="Injury Illness Form" href="/dps/documents/new_injury_illness_2019_april.pdf">Injury Illness Form</a></li>
                        <li><a title="CSA Crime Statistic Reporting Form" href="/dps/documents/csaform.docx">CSA Crime Statistic Reporting Form</a></li>
                        <li><a title="Campus Concealed Carry Information &amp; Form" href="/dps/gun-policy/">Campus Concealed Carry Information &amp; Form</a></li>
                        <li><a title="Program Request Form" href="/dps/programrequestform.php">Program Request Form</a></li>
                    </ul>
                    <article class="p21">
                        <p class="level3">Resources</p>
                        <ul class="list-1 p3 checklist">
                            <li><a title="Safe Voyage" href="/dps/safe-voyage-logo.pdf">Safe Voyage</a></li>
                            <li><a title="Drug &amp; Alcohol Policy" href="/dps/drugalcoholpolicy.php">Drug &amp; Alcohol Policy</a></li>
                            <li><a title="Access to Campus &amp; Residence Halls" href="/dps/securitysafety/campusaccess.php">Access to Campus &amp; Residence Halls</a></li>
                            <li><a title="Campus &amp; Law Enforcement Links" href="/dps/enforcementlinks.php">Campus &amp; Law Enforcement Links</a></li>
                            <li><a title="Emergency Management" href="/safety/campus_emergency/">Emergency Management</a></li>
                            <li><a title="Emergency Procedures" href="/dps/emergencyprocedures/">Emergency Procedures</a></li>
                            <li><a title="Campus Maps" href="/ehome/maps/">Campus Maps</a></li>
                        </ul>
                    </article>
                </article>
            </div>
            <div class="col-md-4">
                <h2>Law Enforcement Links</h2>
                <article class="p21">
                    <p class="level4">ETSU&nbsp;Public Safety&nbsp;Resources</p>
                    <ul>
                        <li><a href="/students/">Student Affairs</a></li>
                        <li><a href="/students/counseling/">Counseling Center<br></a></li>
                        <li><a href="/students/housing/">Housing Department</a></li>
                        <li><a href="/bf/fs/parking/">Parking Services</a></li>
                        <li><a rel="noopener noreferrer" href="http://tnmap.tn.gov/sor/" target="_blank">Sex Offender Website</a></li>
                        <li><a rel="noopener noreferrer" title="Crime on Campus" href="https://www.tn.gov/tbi/article/recent-publications" target="_blank">TBI Crime on Campus</a></li>
                    </ul>
                    <p class="level4">Regional Public Safety Links</p>
                    <ul>
                        <li>
                            <a rel="noopener noreferrer" href="http://www.johnsoncitytn.org/police/" target="_blank">Johnson City Bureau of Police</a>&nbsp;
                        </li>
                        <li><a rel="noopener noreferrer" href="http://www.bristoltn.org/200/Police-Department" target="_blank">Bristol (Tenn.) Police Department</a></li>
                        <li><a rel="noopener noreferrer" href="http://www.bristolva.org/index.aspx?nid=155" target="_blank">Bristol (Va.) Police Department</a></li>
                        <li><a rel="noopener noreferrer" href="http://police.kingsporttn.gov/" target="_blank">Kingsport Police Department</a></li>
                        <li><a rel="noopener noreferrer" href="http://www.knoxsheriff.org/" target="_blank">Knox County Sheriff's Department</a></li>
                        <li><a rel="noopener noreferrer" href="http://www.scsotn.com/" target="_blank">Sullivan County Sheriff's Office</a></li>
                        <li><a rel="noopener noreferrer" href="http://www.ojp.usdoj.gov/saa/tn.htm" target="_blank">Tennessee Office of Criminal Justice Programs</a></li>
                        <li><a rel="noopener noreferrer" href="http://www.tennessee.gov/safety/thp.htm" target="_blank">Tennessee Highway Patrol</a></li>
                        <li><a href="http://www.wcso.net/">Washington County Sheriff's Department</a></li>
                        <li><a rel="noopener noreferrer" href="http://www.sheriff.cc/" target="_blank">Carter County Sheriff's Department</a></li>
                        <li><a href="http://www.unicoicountytn.gov/index.php?option=com_content&amp;view=article&amp;id=201&amp;Itemid=216">Unicoi County Sheriff's Department</a></li>
                    </ul>
                </article>
                </article>
            </div>
        </div> <!-- end of row 1 -->
        <!-- row 2 -->
        <div class="row">
            <div class="col-md-4">
                <h2>ETSU Computing/ITS</h2>
                <p>
                    East Tennessee State University’s Computing Department is a leader in the field of computing.
                    With our continued experiential learning approach, we produce graduates that excel in their chosen path to have the knowledge to absorb the necessary concepts to advance in their computing careers.
                    We offer four undergraduate degrees and two graduate degrees that prepare students to achieve their goals.
                </p>
                <blockquote>
                    <strong style="color:red">Excellence-</strong> Providing exceptional service through strategic planning, high-level performance daily, and advancing preparedness in our diverse environments.<br />
                    <strong style="color:red">Professionalism-</strong> Exemplifying trusted professional service with compassion and respect for all. <br />
                    <strong style="color:red">Integrity-</strong> Doing the right thing at all times and committed to being accountable for our actions or inactions. <br />
                    <strong style="color:red">Community-</strong> People centered approach rooted in serving others before self.
                </blockquote>
                <address>
                    Department of Computing<br>
                    PO Box 70711 | Johnson City, TN 37614 <br>
                    P: 423-439-5328 | F: 423-439-7119<br>
                </address>                
            </div>
            <div class="col-md-4">
                <h2>The Cyber Guys</h2>
                <article class="grid_9 omega p20 facprof">
                    <img class="facstaff-img" src="~/images/lerhfeld.jpg" alt="Michael Lehrfeld Ph.D."><div class="level4 nopbottom">Michael Lehrfeld, Ph.D.</div>
                    <div class="pbottom proftitle">
                        Associate Professor<br>Computing
                    </div>
                    <p class="level5">Contact:</p>
                    <div class="pbottom"><a href="tel:423.439.6952">423.439.6952</a><br>Nicks Hall, Room 4-471<br><a class="email_link" href="SPECIAL_LINKlehrfeldAT_ETSU?Subject=">lehrfeld@etsu.edu</a></div>
                </article>
                <article class="grid_9 omega p20 facprof">
                    <img class="facstaff-img" src="~/images/husari.jpg" alt="Ghaith Husari, Ph.D."><div class="level4 nopbottom">Ghaith Husari, Ph.D.</div>
                    <div class="pbottom proftitle">
                        Assistant Professor<br>Computing
                    </div>
                    <p class="level5">Contact:</p>
                    <div class="pbottom">
                        <a href="tel:423.439.6964">423.439.6964</a><br>Nicks Hall, Room 4-460<br><a class="email_link" href="SPECIAL_LINKhusariAT_ETSU?Subject=">husari@etsu.edu</a>&nbsp;
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <h2>The C-Suite</h2>
                <article class="grid_9 omega p20 facprof">
                    <img class="facstaff-img" src="~/images/difabio.jpg" alt="Andrea Di Fabio"><div class="level4 nopbottom">Andrea Di Fabio</div>
                    <div class="pbottom proftitle">
                        Associate CIO/Chief Information Security Officer<br>&nbsp;
                    </div>
                    <p class="level5">Contact:</p>
                    <div class="pbottom"><a href="tel:423-439-3303">423-439-3303</a><br>414 Nicks Hall<br><a class="email_link" href="SPECIAL_LINKdifabioAT_ETSU?Subject=">difabio@etsu.edu</a></div>
                </article>
                <article class="grid_9 omega p20 facprof">
                    <img class="facstaff-img" src="~/images/king.jpg" alt="Karen King"><div class="level4 nopbottom">Karen King</div>
                    <div class="pbottom proftitle">
                        Chief Information Officer/Senior Vice Provost for ITS<br>&nbsp;
                    </div>
                    <p class="level5">Contact:</p>
                    <div class="pbottom"><a href="tel:423-439-6809">423-439-6809</a><br>425 Nicks Hall<br><a class="email_link" href="SPECIAL_LINKkingkAT_ETSU?Subject=">kingk@etsu.edu</a></div>
                </article>
            </div>
        </div> <!-- end of row 2 -->
    </div> <!-- end of container div -->
</body>
