@model LabW11Authentication.Models.ViewModels.EditDeviceVM

@{
    ViewData["Title"] = "EditDevice";
}

<h2>EditDevice</h2>

<h4>EditDeviceVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDevice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="DevName" class="control-label"></label>
                <input asp-for="DevName" class="form-control" />
                <span asp-validation-for="DevName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevMAC" class="control-label"></label>
                <input asp-for="DevMAC" class="form-control" />
                <span asp-validation-for="DevMAC" class="text-danger"></span>
            </div>
            <input asp-for="UserId" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="User" asp-action="Devices">Back to Devices</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
